.abhishek{
	position: absolute;
  	width: 150px;
	height: 150px;
	background-image: url('abhishek.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.navbar-brand{
    font-family: 'Cardo', serif;
}

.navbar{
    text-align: center;
    background-color: rgb(204, 0, 0);
 }

body {
    background-image: url("pizzaBg.jpg");
	background-size: cover;
}


